*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.article-content-container{
	background-color: #587268;
}
/*.article-title, .article-content-img{
	margin-left: 1.5em;
	line-height: 1.2em;
}*/
.content-info{
	margin-left: 1.5em;
	font-size: 1em;
}
.header_container{
	padding: 20px;
	display: flex;
	justify-content: center;
}
header{
	width: 900px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.site-title h1,h2{
	display: flex;
	justify-content: center;
	font-family: raleway:400;
}
.main-nav{
	display: flex;
	align-items: center;
}
.main-nav ul{
	display: flex;
	justify-content: space-between;
	list-style-type: none;
}
.main-nav li{
	margin: 0 5px;
}
.article-title-container{
	background-color: #715894;
	display: flex;
	justify-content: center;
	padding: .5em 0;
}
.article-title{
	background-color: #674189;
	display: flex;
}
.article-content-container{
	display: flex;
	justify-content: center;
}
.article-content-img{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

/********************************************************/
/* MEDIA QUERIES*/

@media screen and (max-width: 305px){
	.site-title{
		font-size: 2.8em;
		margin: 0 auto;
	}
	.main-nav{
		/*font-size: .8em;*/
		margin: 0 auto;
	}
	.article-title{
			}
}
@media screen and (min-width: 305px) and (max-width: 313px), (min-width: 314px){
	.site-title{
		font-size: 1em;
		margin: 0 auto;
	}
	.main-nav{
		font-size: 1.4em;
		margin: 0 auto;
}
